policy-options {
  prefix-list BGP_PEERS {
    {% for name, session in bgp_sessions.items() %}
    {{ session.dest_ip }}/32;
    {% endfor %}
  }
  prefix-list MGT_NETS {
    {% set list1 = mgt_prefix_list.split(',') %}
    {% for prefix in list1 %}
    {{ prefix }};
    {% endfor %}
  }
  prefix-list RADIUS {
    {% set list1 = rad_host_list.split(',') %}
    {% for host in list1 %}
    {{ host }}/32;
    {% endfor %}
  }
  prefix-list NTP {
    {% set list1 = ntp_host_list.split(',') %}
    {% for host in list1 %}
    {{ host }}/32;
    {% endfor %}
  }
  prefix-list APSTRA_HOST {
    {% set list1 = apstra_host_list.split(',') %}
    {% for host in list1 %}
    {{ host }}/32;
    {% endfor %}
  }
}





#
# property set variables
#
mgt_prefix_list == 192.168.100.0/24,192.168.168.0/24,172.31.0.0/16
apstra_host_list == 192.168.100.100
ntp_host_list == 192.168.100.3,192.168.168.9
rad_host_list == 192.168.168.15,192.168.168.8