{#
    Hardening configlet for Junos that disables the OS root account and denies
    root login via SSH.  There are no property sets required with this
    configlet.
#}

system {
    replace: root-authentication {
        encrypted-password "***DISABLED***";
    }
    services {
        ssh {
            root-login deny;
        }
    }
}